<div class="module log">
	<table>
		<caption>Raw Messages<span> from <%= @data_from %></span></caption>
		<thead>
			<tr>
				<th scope="column">Initiator</th>
				<th scope="column">Messages</th>
			</tr>
		</thead>
		<tbody>
			<% for msg in @raw_messages %>
			<tr>
				<td><%= msg.reporter.phone %></td>
				<td class="messages">
					<table>
						<tbody>
							<tr class="in">
								<td class="dir" title="Incoming">&laquo;</td>
								<td><%= msg.text.gsub("\n", "<br />") %></td>
							</tr>
							<% for reply in msg.children %>
							<tr class="out">
								<td class="dir" title="Outgoing">&raquo;</td>
								<td><%= reply.text.gsub("\n", "<br />") %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</td>
			</tr>
			<% end %>
			<% if @raw_messages.empty? %>
			<tr class="no-data">
				<td colspan="2">
					No messages have been sent to or received from this Reporter yet.<br />
					(scope: <%= @data_from %>)
				</td>
			</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr><td colspan="10">
				<a href="messages.xls">Export to Excel</a>
			</td></tr>
		</tfoot>
	</table>
</div>
