<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
	<head>
		<title>RapidSMS Nutrition Surveillance</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/stylesheets/nav.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/stylesheets/tabs.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/stylesheets/summary.css" type="text/css" media="screen" />
		<script type="text/javascript" src="/javascripts/mootools-1.2.1-core-yc.js"></script>
		<script type="text/javascript" src="/javascripts/application.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="header">
				<div id="branding">
					<h1 id="site-name"><a title="Return to the Dashboard" href="/">RapidSMS :: Nutrition Surveilance</a></h1>
				</div>
				<ul id="tabs">
					<% if @tabs %>
					<% for tab in (@tabs.values.sort_by { |t| t[:order] }) %>
					<li<% if tab[:active] %> class="active"<% end %>><a href="<%= tab[:href] %>"><%= tab[:title] %></a></li>
					<% end %>
					<% end %>
				</ul>
			</div>
			<div id="breadcrumbs">
				<a href="/">Malawi</a>
				<% if @crumbs %>
				<% for title, link in @crumbs %>
				&raquo; <% if link %><a href="<%= link %>"><% end %><%= title %><% if link %></a><% end %>
				<% end %>
				<% end %>
			</div>
			<div id="nav">
				<% if @districts %>
				<div>
					<h2>Districts</h2>
					<ul><% for district in @districts %><% if @district == district %>
						<li class="active"><%= district.title %></li><% else %>
						<li><a href="/<%= district.slug %>"><%= district.title %></a></li><% end; end %>
					</ul>
				</div>
				<% if @gmcs %>
				<div>
					<h2>GMCs in <%= @district.title %></h2>
					<ul><% for gmc in @gmcs %><% if @gmc == gmc %>
						<li class="active"><span title="GMC# <%= gmc.uid %>"><%= gmc.title %></a></span></li><% else %>
						<li><a href="/<%= gmc.district.slug %>/<%= gmc.slug %>"><span title="GMC# <%= gmc.uid %>"><%= gmc.title %></a></span></li><% end; end %>
					</ul>
				</div>
				<% end %>
				<% end %>
				<div>
					<h2>Maintenance</h2>
					<ul>
						<li><a href="/dump">Database Export</a></li>
					</ul>
				</div>
			</div>
			<div id="content">

<!-- begin -->
<%#= message[:notice] %>
<%= catch_content :for_layout %>
<!-- end -->

			</div>
			<div class="clear-hack"></div>
		</div>
		<div id="footer">
			RapidSMS Nutrition Surveilance &copy; UNICEF 2009
		</div>
	</body>
</html>
